@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --animate-color: color 6s ease infinite;
}

@keyframes color {
  0% {
    color: #d00000;
  }
  20% {
    color: #e85d04;
  }
  40% {
    color: #f48c06;
  }
  60% {
    color: #ffba08;
  }
  80% {
    color: #faa307;
  }
  100% {
    color: #dc2f02;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}